// You can still use import to import a stylesheet from Google Fonts.
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&=swap");
// Your typography styles here.

body {
	font-family: "Encode Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: white;
	padding: 30%;
}

.icon {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
	font-family: "Oleo Script", cursive;
	font-size: 50px;
	text-align: center;
}

h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Josefin Sans", sans-serif;
}

strong {
	font-family: "Encode Sans Semi Condensed", sans-serif;
	line-height: 1.3;
	margin-top: 0;
}

// You can type two slashes to create a comment in Sass.

// An example of a variable. Try changing it.
// Most people put their variables in a _colors.scss partial to
// help keep them organized and in one place across files.
// This makes it easier to work together!

$ocean-blue: #1b6e97;

a {
	color: $ocean-blue;
}

aside {
	font-size: 0.8em;
}

ul,
ol {
	padding-left: 2em;
}
